SECRET_KEY=THIS_IS_NOT_A_GOOD_SECRET
DEBUG=True
ALLOWED_HOSTS=ALLOWED HOSTS SEPARETED BY COMMA AND SPACE
STATIC_URL=URL FOR STATIC CONTENT
EMAIL_BACKEND=EMAIL_BACKEND_CLASS
EMAIL_HOST=EMAIL_HOST
EMAIL_PORT=EMAIL_PORT
EMAIL_USE_TLS=EMAIL_USE_TLS
EMAIL_HOST_USER=EMAIL_HOST_USER
EMAIL_HOST_PASSWORD=EMAIL_HOST_PASSWORD
SENDGRID_API_KEY=SENDGRID_API_KEY